@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 18px;
}
.wrapper {
	width: 500px;
	margin: 0 auto;
}
.wrapper__box {
	background: #dcdcdc;
	width: 300px;
	padding: 10px;
}
.wrapper__box-title {
	text-align: center;
}
.wrapper__box-buttons {
	width: 300px;
	margin: 0 auto;
}
.wrapper__title {
	text-align: center;
	color: #00a800;
	font-size: 24px;
	font-family: Georgia, serif;
	margin-bottom: 5px;
  text-decoration-line: underline;
	text-decoration-color: #000;
	transition: all 0.35s ease-in-out;
}
.wrapper__title:hover {
	text-decoration-color: #f3150d;
}
.wrapper__subtitle {
	text-align: center;
	color: #f3150d;
	font-size: 20px;
	margin-bottom: 10px;
}
.wrapper__list-item {
	margin-bottom: 15px;
}
.wrapper__list-item:last-child {
	margin-bottom: 0;
}
img {
	display: block;
	width: 600px;
	height: 450px;
	margin: 10px auto;
  border-radius: 6px;
}
